<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.ccs.order.dao.OrderServiceMapper">

    <select id="getOrderList" resultType="com.middle.ccs.order.entity.po.OrderMain">
        SELECT
            order_main.order_id,
            order_main.order_no,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.sx_speed_set,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_lower_limit,
            order_main.creator_name,
            order_main.tray_flag,
            order_main.photo_flag
        FROM
            dbo.order_main
        where
             order_status <![CDATA[ < ]]> 400
        ORDER BY create_time desc
    </select>
    <select id="getOrderMainReportExcludeUnqualified" resultType="com.middle.ccs.order.entity.vo.OrderMainReportVO" parameterType="com.middle.ccs.order.entity.dto.ReportListDTO">
SELECT
            order_main.order_id,
            order_main.order_no,
            order_main.creator_name,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_set,
            order_main.sx_speed_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.start_time,
            order_main.end_time,
            Round(MIN(box_detail.sl_read), 1) AS slMin,
            Round(AVG(box_detail.sl_read), 1) AS slAverage,
            Round(MAX(box_detail.sl_read), 1) AS slMax,

            Round(MIN(box_detail.gl_read), 1) AS glMin,
            Round(AVG(box_detail.gl_read), 1) AS glAverage,
            Round(MAX(box_detail.gl_read), 1) AS glMax,

            Round(MIN(box_detail.sk_read), 1) AS skMin,
            Round(AVG(box_detail.sk_read), 1) AS skAverage,
            Round(MAX(box_detail.sk_read), 1) AS skMax,


            Round(MIN(box_detail.smpl_read), 1) AS smplMin,
            Round(AVG(box_detail.smpl_read), 1) AS smplAverage,
            Round(MAX(box_detail.smpl_read), 1) AS smplMax,


            Round(MIN(box_detail.pfn_read), 1) AS pfnMin,
            Round(AVG(box_detail.pfn_read), 1) AS pfnAverage,
            Round(MAX(box_detail.pfn_read), 1) AS pfnMax,


            Round(MIN(box_detail.nl_read), 1) AS nlMin,
            Round(AVG(box_detail.nl_read), 1) AS nlAverage,
            Round(MAX(box_detail.nl_read), 1) AS nlMax,

            Round(MIN(box_detail.sx_speed_read), 1) AS speedMin,
            Round(AVG(box_detail.sx_speed_read), 1) AS speedAverage,
            Round(MAX(box_detail.sx_speed_read), 1) AS speedMax
        FROM
        dbo.order_main
            left join
            dbo.box_main
            on dbo.box_main.order_id = dbo.order_main.order_id
            left join
            dbo.box_detail
            on dbo.box_detail.box_imitate_id = dbo.box_main.box_imitate_id
        where
         order_status = 400
         and dbo.box_detail.qualified = '1'
        and order_main.order_id = #{orderId}
            group by
            order_main.order_id,
            order_main.order_no,
            order_main.creator_name,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.start_time,
            order_main.end_time,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_set,
            order_main.sx_speed_lower_limit
    </select>
    <select id="getReportList" resultType="com.middle.ccs.order.entity.vo.BoxMainVO" parameterType="com.middle.ccs.order.entity.dto.ReportListPageDTO">
        SELECT
            order_main.order_id,
            order_main.order_no,
            order_main.order_name,
            order_main.create_time,
            order_main.order_status,
            order_main.batch_id,
            order_main.product_name,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            box_main.box_imitate_id,
            box_main.box_id,
            box_main.fail_reason
        FROM
            dbo.order_main
        inner join
            dbo.box_main
        on dbo.order_main.order_id = dbo.box_main.order_id
        where order_status = 400
        <if test="orderNo != null and orderNo != ''">
            and order_main.order_no = #{orderNo}
        </if>
        <if test="boxImitateId != null and boxImitateId != ''">
            and box_main.box_imitate_id = #{boxImitateId}
        </if>
        <if test="batchId != null and batchId != ''">
            and order_main.batch_id = #{batchId}
        </if>
        order by dbo.order_main.create_time desc
    </select>
    <select id="getNowRunOrder" resultType="com.middle.ccs.order.entity.po.OrderMain">
        SELECT
        TOP 1
            order_main.order_id,
            order_main.order_no,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.sx_speed_set,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_lower_limit
        FROM
            dbo.order_main
        where
             order_status = 200
        ORDER BY create_time desc
    </select>
    <select id="getOrderMainReport" resultType="com.middle.ccs.order.entity.vo.OrderMainReportVO" parameterType="com.middle.ccs.order.entity.dto.ReportListDTO">
SELECT
            order_main.order_id,
            order_main.order_no,
            order_main.creator_name,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_set,
            order_main.sx_speed_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.start_time,
            order_main.end_time,
            Round(MIN(box_detail.sl_read), 1) AS slMin,
            Round(AVG(box_detail.sl_read), 1) AS slAverage,
            Round(MAX(box_detail.sl_read), 1) AS slMax,

            Round(MIN(box_detail.gl_read), 1) AS glMin,
            Round(AVG(box_detail.gl_read), 1) AS glAverage,
            Round(MAX(box_detail.gl_read), 1) AS glMax,

            Round(MIN(box_detail.sk_read), 1) AS skMin,
            Round(AVG(box_detail.sk_read), 1) AS skAverage,
            Round(MAX(box_detail.sk_read), 1) AS skMax,


            Round(MIN(box_detail.smpl_read), 1) AS smplMin,
            Round(AVG(box_detail.smpl_read), 1) AS smplAverage,
            Round(MAX(box_detail.smpl_read), 1) AS smplMax,


            Round(MIN(box_detail.pfn_read), 1) AS pfnMin,
            Round(AVG(box_detail.pfn_read), 1) AS pfnAverage,
            Round(MAX(box_detail.pfn_read), 1) AS pfnMax,


            Round(MIN(box_detail.nl_read), 1) AS nlMin,
            Round(AVG(box_detail.nl_read), 1) AS nlAverage,
            Round(MAX(box_detail.nl_read), 1) AS nlMax,

            Round(MIN(box_detail.sx_speed_read), 1) AS speedMin,
            Round(AVG(box_detail.sx_speed_read), 1) AS speedAverage,
            Round(MAX(box_detail.sx_speed_read), 1) AS speedMax
        FROM
        dbo.order_main
            left join
            dbo.box_main
            on dbo.box_main.order_id = dbo.order_main.order_id
            left join
            dbo.box_detail
            on dbo.box_detail.box_imitate_id = dbo.box_main.box_imitate_id
        where
         order_status = 400
        and order_main.order_id = #{orderId}
            group by
            order_main.order_id,
            order_main.order_no,
            order_main.creator_name,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.start_time,
            order_main.end_time,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_set,
            order_main.sx_speed_lower_limit
    </select>
    <select id="getOrderList400" resultType="com.middle.ccs.order.entity.po.OrderMain">
        SELECT
            order_main.order_id,
            order_main.order_no,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.sx_speed_set,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_lower_limit,
            order_main.creator_name,
            order_main.tray_flag,
            order_main.photo_flag,
            order_main.create_time
        FROM
            dbo.order_main
        where
             order_status = 400
        <if test="orderNo != null and orderNo != ''">
            and order_main.order_no = #{orderNo}
        </if>
        <if test="batchId != null and batchId != ''">
            and order_main.batch_id = #{batchId}
        </if>
        ORDER BY create_time desc
    </select>
    <select id="getOrderListByOrderId" resultType="com.middle.ccs.order.entity.po.OrderMain">
        SELECT
            order_main.order_id,
            order_main.order_no,
            order_main.order_name,
            order_main.revert_flag,
            order_main.batch_id,
            order_main.product_name,
            order_main.accelerator_k_value,
            order_main.art_name,
            order_main.load_method,
            order_main.path_name,
            order_main.number_turns,
            order_main.box_length,
            order_main.box_width,
            order_main.box_height,
            order_main.box_weight,
            order_main.sl_upper_limit,
            order_main.sl_set,
            order_main.gl_upper_limit,
            order_main.sl_lower_limit,
            order_main.gl_set,
            order_main.gl_lower_limit,
            order_main.sk_upper_limit,
            order_main.sk_set,
            order_main.sk_lower_limit,
            order_main.smpl_upper_limit,
            order_main.smpl_set,
            order_main.smpl_lower_limit,
            order_main.pfn_upper_limit,
            order_main.pfn_set,
            order_main.nl_set,
            order_main.pfn_lower_limit,
            order_main.nl_upper_limit,
            order_main.nl_lower_limit,
            order_main.order_box_num,
            order_main.eliminate_box_num,
            order_main.exhibit_box_num,
            order_main.qualified_box_num,
            order_main.sx_speed_set,
            order_main.sx_speed_upper_limit,
            order_main.sx_speed_lower_limit,
            order_main.creator_name,
            order_main.tray_flag,
            order_main.photo_flag
        FROM
            dbo.order_main
        where
            order_id = #{orderId}
    </select>
</mapper>