<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.middle.ccs.config.dao.CssConfigMapper">
<select id="getConfig" resultType="com.middle.ccs.config.entity.CssConfig">
    SELECT
        TOP 1
        css_config.config_id,
        css_config.plc_ip,
        css_config.plc_port,
        css_config.one_one_length,
        css_config.two_length,
        css_config.judge_load_point,
        css_config.pointj_length,
        css_config.pointk_length,
        css_config.pointl_length,
        css_config.speed_one,
        css_config.speed_two,
        css_config.new_delay_point_time,
        css_config.length_one,
        css_config.length_two,
        css_config.pointl_length,
        css_config.language_set
    FROM
        dbo.css_config
</select>
</mapper>
